@charset "ISO-8859-1";
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

#head{
	background-color: black;
	font-size: 300%;
	color: white;	
	text-align:center;
}

#wel{
	font-size: 400%;
	text-align:center;
	color: red;
}
input[type=text], input[type=number],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
}

input[type=submit],input[type=button]{
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,input[type=button]:hover {
    background-color: #808080;
}

div {
    border-radius: 5px;
    background-color:#f1f1f1;
    padding: 20px;
    color: black;
    align-content: center;
}
#table {
	border-color:black;
	border:1px;
	text-align: center;
    border-collapse: separate;
    width: 50%;
   
}
th {
	border:1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #808080;
    color: white;
	border-radius: 4px;
}
td {
    text-align: center;
     background-color: #f1f1f1;
	 color:black;
}


.background-image {
	 background-image: url("assets/images/background2.jpg");
 	 background-filter:2px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center;   

}

/*    For drop down button in Planning managerdashboard*/

ul.li.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
ul.li.dropbtn:hover{
	background-color: black;
	color:white;
	padding: 16px;
    font-size: 16px;
    border: none;
}

ul.li.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul ~ li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

ul.li.dropdown-content a:hover {background-color: #333;
	color:white;}

ul.li.dropdown:hover .dropdown-content {display: block;}


ul.li.dropdown:hover .dropbtn {background-color:black;
	color:white;}
	
	